<div class="row">
    @if (isLoading) {
    <div class="d-flex justify-content-center align-items-center loading-container">
        <img class="loading-image" src="../../../assets/images/Loader.svg" alt="">
    </div>
    }@else{

        
        @for (item of cardProduct; track $index) {
    <div class="col-3 p-3 h-100">
        <app-card [title]="item.title" [price]="item.price" [description]="item.description" [image]="item.image"
            (add)="addToCart()" (remove)="removeFromCart()"></app-card>
        </div>
    }
    
}
    <mat-paginator [length]="dataLength" [pageSize]="10" (page)="onPageSizeChange($event)" [pageSizeOptions]="[5, 10, 25, 100]"
    (pageSizeChange)="onPageSizeChange($event)" aria-label="Select page">
</mat-paginator>
</div>